<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard de Informações CAGED</title>
</head>
<body>
    <div class="icon-container">
        <a href="https://app.powerbi.com/view?r=eyJrIjoiOTk0MTQ2YjAtOTFhMC00MzExLTgzNGYtMzM5NGJiOGZlZmM3IiwidCI6ImQxYjJmNjI1LWY3NGYtNGNkMy1hNTc4LTUyYzMyZTljNWU3MCJ9" target="_blank">
            <img src="/static/images/painel_3.png" alt="Acessar Dashboard">
            <span>Acessar Dashboard</span>
        </a>
    </div>
</body>
</html>