<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="container mt-3">
            <h1>Estatísticas Setoriais</h1>
            <!--<p>Mês referência: {{ date[5:7] }}/{{ date[:4] }}</p>-->
    </div>
    <div class="container mb-3">
        <div class="row">
            <div class="col">
                <select class="form-control" id="date-dropdown" onchange="updateSectorPage()">
                    <option value={{ date }}>{{ date }}</option>
                    {% for date in dates %}
                    <option value={{ date }}>{{ date }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select class="form-control" id="location-dropdown">
                    <option value="all">Paraíba</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <button id="btn-adm" type="button" class="btn btn-outline-primary mr-2" style="width: 32%">Admissões</button>
            <button id="btn-layoff" type="button" class="btn btn-outline-primary mr-2" style="width: 32%">Desligamento</button>
            <button id="btn-net" type="button" class="btn btn-primary" style="width: 32%">Saldo</button>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col" style="max-width: 15rem; padding-bottom: 8px">
                <div class="card">
                    <button id="btn-agro" class="card-body btn btn-primary"
                            onclick="updateChart(event, 'Agropecuária')">
                        Agropecuária
                        <br><b>
                        {{stats[(1, 'Agropecuária')] - stats[(-1, 'Agropecuária')]}}</b>
                    </button>
                </div>
            </div>
            <div class="col" style="max-width: 15rem; padding-bottom: 8px">
                <div class="card">
                    <button id="btn-ind" class="card-body btn btn-outline-primary"
                            onclick="updateChart(event, 'Indústria')">
                        Indústria
                        <br><b>
                        {{stats[(1, 'Indústria')] - stats[(-1, 'Indústria')]}}</b>
                    </button>
                </div>
            </div>
            <div class="col" style="max-width: 15rem; padding-bottom: 8px">
                <div class="card">
                    <button id="btn-cons" class="card-body btn btn-outline-primary"
                            onclick="updateChart(event, 'Construção')">
                        Construção
                        <br><b>
                        {{stats[(1, 'Construção')] - stats[(-1, 'Construção')]}}</b>
                    </button>
                </div>
            </div>
            <div class="col" style="max-width: 15rem; padding-bottom: 8px">
                <div class="card">
                    <button id="btn-comm" class="card-body btn btn-outline-primary"
                            onclick="updateChart(event, 'Comércio')">
                        Comércio
                        <br><b>
                        {{stats[(1, 'Comércio')] - stats[(-1, 'Comércio')]}}</b>
                    </button>
                </div>
            </div>
            <div class="col" style="max-width: 15rem; padding-bottom: 8px"
                 onclick="updateChart(event, 'Serviços')">
                <div class="card">
                    <button id="btn-serv" class="card-body btn btn-outline-primary">
                        Serviços
                        <br><b>
                        {{stats[(1, 'Serviços')] - stats[(-1, 'Serviços')]}}</b>
                    </button>
                </div>
            </div>
            <!--
            <div class="col" style="max-width: 15rem; padding-bottom: 8px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Outros</h5>
                        <p class="card-text text-center">XXXX</p>
                    </div>
                </div>
            </div>
            -->
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Evolução das Admissões e Desligamentos</h5>
                        <div id="chart1">{{ plot1|safe }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Evolução do Saldo</h5>
                        <div id="chart2">{{ plot2|safe}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='update_chart.js') }}"></script>
    <script src="{{ url_for('static', filename='update_sector.js') }}"></script>
    {% include 'footer.html' %}
</body>
</html>